.pic-container {
  padding: 10px 10px;
  background-color: var(--pic-container);
  border-radius: 10px;
}

.pic-container img {
  width: 14rem;
  padding-bottom: 7px;
}

.pic-container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  
}
