.pic-container {
  padding: 10px 10px;
  background-color: var(--pic-container);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.pic-container img {
  width: 14rem;
  padding-bottom: 0.5rem;
}

.pic-container h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--size-lg);
  color: var(--text-desg);
  text-align: center;
  text-transform: uppercase;
}

.pic-container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  font-size: 1.55rem;
}
