.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 10px;
  background-color: var(--header-bg-col);
}

.header__logo {
  cursor: pointer;
  width: 15rem;
  margin-right: auto;
  margin-left: 10px;
}

.nav__links {
  list-style: none;
  padding: 0;
}

.nav__list {
  display: inline-block;
  padding: 0 10px;
}

.nav__list,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(8px, 16px, 24px);
  color: var(--text-white);
  text-decoration: none;
}

.nav__list a {
  transition: all 0.3s ease 0s;
}

.nav__list a:hover,
.active {
  color: rgb(0, 0, 255);
}

#more {
  right: var(--size-base);
  min-width: 110px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
