@import "../../app/utils.scss";

.bg {
  background-image: url("/bg/mttbg-ff.png");
  background-size: cover;
}

.header1 {
  font-family: var(--pop);
  @include h1;
  color: white;
}

.header2 {
  font-family: var(--pop);
  font-size: clamp($size-2xl, 3vw, $size-5xl);
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
