@import "../../app/utils.scss";

.bg {
  background-image: url("/bg/mttbg-min.png");
  background-size: cover;
}

.header2 {
  @include h2;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
