.bg-summit {
  color: white;
  background-image: url(/bg/summitbg.png);
  background-size: cover;
}

.summit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
}

.summit__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 10px;
}

.summit__para {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
  color: var(--text-lightblue);
}

.summit__subheading {
  font-family: "Monstserrat", sans-serif;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
}

.summit__smallheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xl);
  justify-content: center;
}

#panel {
  margin-bottom: var(--size-6xl);
}

.contact {
  background-color: var(--pic-container);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--size-5xl);
  border-radius: 10px;
}

.contact__heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact__para {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1.2rem, 1.5vh, 5.65rem);
  text-align: center;
}

/* Media Queries */
/* 2xs */
@media (min-width: 320px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .contact__para {
    margin: 15px 50px;
    margin-bottom: 20px;
  }
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .contact__container {
    flex-direction: row;
  }
  .contact__para {
    margin: 10px 50px;
    margin-bottom: 20px;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
