.bg {
  color: white;
  background-image: url(../../assets/bg/summitbg.png);
  background-size: cover;
}

.summit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
}

.summit__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 10px 10px;
}

.summit__para {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
  color: var(--text-lightblue);
}

.summit__subheading {
  font-family: "Monstserrat", sans-serif;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
}

.summit__smallheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xl);
  justify-content: center;
}

.contact {
  margin: 100px;
}

.container {
  background-color: #1b1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.container h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container > div {
  display: flex;
  justify-content: space-between;
}

.container > div p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 50px;
  margin-bottom: 40px;
  text-align: center;
}
