@import "../app/utils.scss";

.mobile_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: $obsidian;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}

.lists {
  padding-right: 10px;

  a {
    text-decoration: none;
    color: $white;
  }

  p {
    font-size: $size-2xl;
    text-align: right;
  }
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .mobile_menu {
    display: none;
  }
}
