@import "../app/utils.scss";

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: $obsidian;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}

.lists {
  padding-right: 10px;
  text-align: center;

  a {
    text-decoration: none;
    color: $white;
    font-size: $size-3xl;
    font-family: var(--montserrat);
  }
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
