@import "../app/utils.scss";

.header {
  padding: 0.8rem;
  background-color: $header;
  z-index: 99999;
}

.active {
  color: $active;
}

.links {
  list-style: none;
  padding: 0;
}

.lists {
  a {
    color: $white;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: clamp(1rem, 1.75vw, 2.5rem);
    text-decoration: none;
    transition: 0.3s ease-out;

    &:hover {
      color: $active;
    }
  }
}

.logo {
  z-index: 110;
}

// 3xs
@media (min-width: 320px) {
  .header {
    @include flex-c;

    a {
      margin-right: auto;
    }
  }
  .links {
    display: none;
  }
  .hamMobile {
    @include flex-c;
    z-index: 100;
  }
  .logo {
    width: 15rem;
  }
}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
// @media (min-width: 640px) {}

// md
@media (min-width: 768px) {
  .header {
    justify-content: flex-end;
  }

  .links {
    @include flex-c;
    flex-direction: row;
  }

  .lists {
    @include flex-c;
    margin: 0 0.6rem;
  }

  .logo {
    margin-right: auto;
    margin-left: 1px;
  }
  .hamMobile {
    display: none;
  }
  .logo {
    width: 20rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .lists {
    @include flex-c;
    margin: 0 0.8rem;
  }
}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
