@import "../app/utils.scss";

#pic_cont {
  padding: 10px;
  background-color: $cont;
  border-radius: 10px;
  // width: 12rem;
  // width: 16rem;
}

#pic {
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
}

#desg {
  font-family: var(--pop);
  font-weight: 600;
  font-size: $size-lg;
  color: $light-blue;
  text-align: center;
  text-transform: uppercase;
}

// 3xs
@media (min-width: 320px) {
  #pic_cont {
    // margin: 1rem 0;
    width: 12rem;
  }
  #desg {
    font-size: $size-base;
  }
}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
@media (min-width: 640px) {
}

// md
@media (min-width: 768px) {
  #pic_cont {
    // margin-bottom: 1rem;
    width: 16rem;
  }
  #desg {
    font-size: $size-lg;
  }
}

/* lg */
// @media (min-width: 1024px) {}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
