@import "./utils.scss";

.bg {
  background-color: $oilblack;
}

.core {
  display: grid;
  padding: 1rem;
  // @include b-r;
  color: white;
}

#left {
  @include flex-c;

  h2 {
    font-family: var(--pop);
    font-weight: 500;
    font-size: clamp(2rem, 2vw, 5rem);
  }
}

#right {
  @include flex-cc;
}

// 3xs
@media (min-width: 320px) {
  .core {
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
  }

  #top {
    @include flex-cc;
    gap: 1rem;
    margin: 1rem 0;
  }

  #mid {
    @include flex-cc;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  #img,
  #bottom {
    display: none;
  }

  #extra {
    display: block;
  }
}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
// @media (min-width: 640px) {}

// md
@media (min-width: 768px) {
  .core {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  #top {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }

  #mid {
    flex-direction: row;
  }

  #img,
  #bottom {
    display: block;
  }

  #extra {
    display: none;
  }
}

/* lg */
// @media (min-width: 1024px) {}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
