@import "../../app/utils.scss";

#pic_cont {
  padding: 10px 10px;
  background-color: $cont;
  border-radius: 20px;
  margin-bottom: 1.25rem;
  width: 14rem;
}

#pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

#name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;

  font-size: $size-2xl;
}

#desg {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: $size-lg;
  color: var(--text-desg);
  text-align: center;
  text-transform: uppercase;
}
