@import "../../app/utils.scss";

.footer {
  padding: 1rem;
  background-color: $header;
}

.heading {
  // font-family: $font-open, sans-serif;
  text-align: center;
  font-size: $size-xl;
  margin: 0.5rem 0;
  color: $footer;
  font-weight: 500;
  user-select: none;
}

.lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2px;
  list-style: none;
  color: $white;
  font-size: $size-xl;
}

/* 2xs */
@media (min-width: 320px) {
  .footer {
    @include flex-c;
    flex-direction: column;
  }

  .logo {
    margin-top: 1rem;
    width: 10rem;
    @include b-r;
  }
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo {
    width: 20rem;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
