@import "../../app/utils.scss";

.header {
  padding: 0.5rem 0.5rem;
  background-color: $header;
}

.logo {
  width: 20rem;
  @include b-r;
}

.links {
  list-style: none;
  padding: 0;
  margin-left: 3.5rem;
}

.lists {
  a {
    color: $white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 3rem);
    text-decoration: none;
    transition: 0.3s ease-out;

    &:hover {
      color: $blue;
    }
  }
}

// 3xs
@media (min-width: 320px) {
  .header {
    @include flex-c;
  }
}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
// @media (min-width: 640px) {}

// md
@media (min-width: 768px) {
  .header {
    justify-content: flex-end;
  }

  .links {
    display: inline-block;
  }

  .lists {
    display: inline-block;
    margin: 0 10px;
  }

  .logo {
    margin-right: auto;
    width: 20rem;
  }
}

/* lg */
// @media (min-width: 1024px) {}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
