.team-container {
  padding: 10px 10px;
  background-color: var(--pic-container);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.team-container img {
  width: 14rem;
  height: fit-content;
  padding-bottom: 0.5rem;
}

.team-container h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--size-lg);
  color: var(--text-desg);
  text-align: center;
  text-transform: uppercase;
}

.team-container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  font-size: 1.55rem;
}

/* 2xs */
/* @media (min-width: 320px) {
  .team-container {
    background-color: transparent;
  }

  .team-container img {
    border-radius: 50%;
    
  }
} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
