@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../utils.scss";

.bg {
  background-color: $oilblack;
}

.head1 {
  @include h1;
  font-family: var(--pop);
  text-align: center;
}

.head2 {
  font-family: var(--pop);
  font-weight: 400;
  font-size: clamp($size-lg, 2vw, $size-2xl);
  text-align: center;
  margin: 1rem 0;
}

.details {
  margin: 0.5rem 0;
}

.head3 {
  font-family: var(--pop);
  font-weight: 500;
  font-size: clamp($size-xl, 2vw, $size-3xl);
  text-align: center;
  margin-bottom: 1rem;
}

.para {
  font-family: var(--pop);
  font-weight: 300;
  font-size: clamp($size-xl, 2vw, $size-3xl);
  text-align: center;
  margin-bottom: 1rem;
  color: $light-blue;
}
