<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSummit</title>
    <link rel="stylesheet" href="TechSummit.css">   
</head>
<body>
    <header>
        <img class="logo" src="./Assets/logo/Logo.png" alt="tflogo">
        <nav>
            <ul class="nav__links">
                <li><a href="../Home/home.html">Home</a></li>
                <li><a href="../TechSummit/TechSummit.html">TechSummit</a></li>
                <li><a href="../TechExpo/techexpo.html">TechExpo</a></li>
                <li><a href="../Meet The Team/meettheteam.html">Meet The Team</a></li>
                <li><a href="../SAP/sap.html">Student Ambassador Program</a></li>
                <li><a href="">More</a></li>
            </ul>
        </nav>
    </header>

    <section class="s_1">
        <h1>TECHSUMMIT</h1>
        <div class="intro">
            <p>Date : 24th January, 2024<br>
                Venue : Mukesh Patel Hall<br>
                Opp Cooper Hospital<br>
                Time : 11:30 AM Onwards<br>
            </p>                
        </div>
        <div>
            <h2>PANEL 1 :</h2>
            <h3>
                CAREER TRAJECTORIES: THE TRIFECTA OF CHOICES - <br>
                JOBS, ENTREPRENEURSHIP, AND INVESTING
            </h3>
        </div>
    </section>

    <section class="s_3">
        <div class="pic-container">
            <img src="./Assets/ppl/Aadi.jpg" alt="Aaditya Iyengar">
            <p>Aaditya Iyengar</p>
        </div>

        <div class="pic-container">
            <img src="./Assets/ppl/ECOM Tushar.jpg" alt="Ecom Tushar">
            <p>Ecom Tushar</p>
        </div>

        <div class="pic-container">
            <img src="./Assets/ppl/Prasoon.jpeg" alt="Pratham Prasoon">
            <p>Pratham Prasoon</p>
        </div>

        <div class="pic-container">
            <img style="height: 90%; width: 14rem;" src="./Assets/ppl/fin.jpeg" alt="FinCocktail">
            <p>FinCocktail</p>
        </div>

    </section>

    <section class="s_1">
        <div>
            <h2>PANEL 2 :</h2>
            <h3>BEYOND THE SPOTLIGHT</h3>
        </div>
    </section>

    <section class="s_3">
        
        <div class="pic-container">
            <img src="./Assets/ppl/Utsav.jpg" alt="Utsav Satkar">
            <p>Utsav Satkar</p>
        </div>

        <div class="pic-container">
            <img style="height: 90%; width: 17rem;" src="./Assets/ppl/Vishal.jpeg" alt="Vishal Rasika">
            <p>Vishal Rasika</p>
        </div>

    </section>
    
    <h2 class="mid">MUSIC ARTIST</h2>

    <section class="s_3">
        
        <div class="pic-container">
            <img style="height: 90%;width: 19rem;" src="./Assets/ppl/surya.jpeg" alt="Surya Venkat">
            <p>Surya Venkat</p>
        </div>

        <div class="pic-container">
            <img style="height: 90%;width: 19rem;" src="./Assets/ppl/Saxena.jpeg" alt="Pranay Saksena">
            <p>Pranay Saksena</p>
        </div>

        <div class="pic-container">
            <img src="./Assets/ppl/anish.jpg" alt="Anish Chabbra">
            <p>Anish Chabbra</p>
        </div>

    </section>
    
    <h2 class="mid">KEYNOTE SPEAKERS</h2>

    <section class="s_3">
        
        <div class="pic-container">
            <img src="./Assets/ppl/arjun vaidya.jpg" alt="Arjun Vaidya">
            <p>Arjun Vaidya</p>
        </div>

        <div class="pic-container">
            <img style="height: 90%;width: 17.5rem;" src="./Assets/ppl/Bindal.jpg" alt="Sushant Bidal">
            <p>Sushant Bidal</p>
        </div>

    </section>

    <section class="contact">
        <div class="container">
            <h3>Contact Us</h3>
            <div>
                <p>
                    Khushi Dama<br>
                    +91 1234567890
                </p>
                <p>
                    Shorya Jain<br>
                    +91 8824323801
                </p>
                <p>
                    Shivam Sukhija<br>
                    +91 8058459844
                </p>
            </div>
        </div>
    </section>

    <footer>
        <div class="foot">
            <div class="container-foot">
                <h3>Follow Us On:</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img 
                            style="width: 2.75rem;" 
                            src="./Assets/logo/Instagram.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img 
                                style="width: 1.75rem; margin-right: 10px;" 
                                src="./Assets/logo/threads.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img 
                                style="width: 1.55rem;" 
                                src="./Assets/logo/LinkedIn.png">
                        </a>
                    </li>
                </ul>
            </div>
            <img class="logo-f" src="./Assets/logo/Logo.png" alt="tflogo">
        </div>
    </footer>
    
    <script src="summit.js" charset="UTF-8"></script>
</body>
</html>